*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
#container1{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-bottom: solid black 2px;
}
.header-list{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 500px;
}
a{
    text-decoration: none;
}
#accedi{
    background-color: #0061FF;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}